/* Ensure the flex container aligns items properly */
.flex {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

/* Add some spacing between the image and the details */
.gap-6 {
  gap: 1.5rem; /* Adjust the gap as needed */
}

.modal-background {
  background-color:#5781CB  ; /* Example: Light blue background */
}

.modal-bg {
  background-color:#FFF3E5  ; /* Example: Light blue background */
}

.modal-dark {
  background-color:#3B3F97  ; /* Example: Light blue background */
}

.modal-light {
  background-color:#B8D2FF  ; /* Example: Light blue background */
}


